<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-4">
      <div class="modal-header p-2 justify-content-center border-0">
        <h1 class="modal-title fs-5 text-center" id="confirmationLabel"></h1>
      </div>
      <div class="modal-body d-flex justify-content-center py-2"></div>
      <div class="modal-footer p-2 border-0 justify-content-between"></div>
    </div>
  </div>
</div>