<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="insertRoleModal" tabindex="-1" aria-labelledby="insertRoleModalLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-4">
      <div class="modal-header p-2 justify-content-center border-0">
        <h1 class="modal-title fs-5" id="insertRoleLabel">Добавить группу пользователей</h1>
      </div>
      <div class="modal-body py-2">
        <form action="insertRole" updateSections="userRolesList, insertUserModal, updateUserModal" class="row g-3 needs-validation" name="insertRole" id="insertRole" novalidate>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">Наименование</span>
            <input type="text" class="form-control" name="name" required>
          </div>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">Системный код</span>
            <input type="text" class="form-control" name="code" placeholder="admin, user, employee" required>
          </div>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">Описание</span>
            <textarea class="form-control" name="description"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer p-2 border-0 justify-content-between">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" form="insertRole" class="btn btn-success">Добавить</button>
      </div>
    </div>
  </div>
</div>